* {
  margin: 0;
}



/*----------PERSONALITY QUIZ-------------*/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.right-button{
margin-right: 20%;
}

.left-button{
margin-left: 20%;
}


 .strong-agree {
  color: white;
  background-color: transparent;
  border: .3em solid rgba(28, 238, 74, 0.699);
  border-radius: 50%;
  cursor: pointer;
  font: inherit;
  height: 4em;
  outline: none;
  width: 4em;
  -moz-appearance: none;
  -webkit-appearance: none;
 }


  .strong-agree-clicked {
    color: white;
    background-color: white;
    border: 1em solid rgba(28, 238, 74, 0.699);
    border-radius: 50%;
    cursor: pointer;
    font: inherit;
    height: 4em;
    outline: none;
    width: 4em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transition: background .15s, box-shadow .1s; 
    transition: background .15s, box-shadow .1s; 
  }

 .agree {
  color: white;
  background-color: transparent;
  border: .3em solid rgba(61, 252, 103, 0.5);
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 rgba(61, 252, 103, 0.5);
  cursor: pointer;
  font: inherit;
  height: 3em;
  outline: none;
  width: 3em;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.agree-clicked {
  color: white;
  background-color: white;
  border: .8em solid rgba(61, 252, 103, 0.5);
  border-radius: 50%;
  cursor: pointer;
  font: inherit;
  height: 3em;
  outline: none;
  width: 3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-transition: background .15s, box-shadow .1s; 
  transition: background .15s, box-shadow .1s; 
}

.intermediate{
  color: white;
  background-color: transparent;
  border: .3em solid rgba(166, 236, 119, 0.5);;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 rgba(121, 255, 150, 0.5);
  cursor: pointer;
  font: inherit;
  height: 2em;
  outline: none;
  width: 2em;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.intermediate-clicked {
  color: white;
  background-color: white;
  border: .6em solid rgba(121, 255, 150, 0.5);
  border-radius: 50%;
  cursor: pointer;
  font: inherit;
  height: 2em;
  outline: none;
  width: 2em;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-transition: background .15s, box-shadow .1s; 
  transition: background .15s, box-shadow .1s; 
}


.disagree{
  color: white;
  background-color: transparent;
  border: .3em solid rgba(240, 128, 77, 0.5);
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 rgba(240, 128, 77, 0.5);
  cursor: pointer;
  font: inherit;
  height: 3em;
  outline: none;
  width: 3em;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.disagree-clicked {
  color: white;
  background-color: white;
  border: .8em solid rgba(240, 128, 77, 0.5);
  -webkit-transition: background .15s, box-shadow .1s; 
  transition: background .15s, box-shadow .1s; 
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 rgba(240, 128, 77, 0.5);
  cursor: pointer;
  font: inherit;
  height: 3em;
  outline: none;
  width: 3em;
  -moz-appearance: none;
  -webkit-appearance: none;
}


.strong-disagree{
  color: white;
  background-color: transparent;
  border: .3em solid rgba(243, 60, 36, 0.5);;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 rgba(243, 60, 36, 0.5);
  cursor: pointer;
  font: inherit;
  height: 4em;
  outline: none;
  width: 4em;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.strong-disagree-clicked {
  color: white;
  background-color: white;
  border: 1em solid rgba(243, 60, 36, 0.5);
  -webkit-transition: background .15s, box-shadow .1s; 
    transition: background .15s, box-shadow .1s; 
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 rgba(243, 60, 36, 0.5);
  cursor: pointer;
  font: inherit;
  height: 4em;
  outline: none;
  width: 4em;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.lab-up{
margin-bottom: 40px;
margin-left: 20px;
margin-right: 20px;
vertical-align: middle;
}

/*----------SWIPING-------------*/

.main-page-chat {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100%;
}

.main-page-swiping {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100%;
}

.swiping {
  border-style: solid;
}

.chat-profile {
  display: grid;
  grid-template-columns: 70% 30%;
}


.swipe-profile {
  margin-top: 10px;
  border-width: 100%;
  display: grid;
  justify-content: center;
}

.matches {
  border-style: solid;
  height: 100vh;
  overflow-y: scroll;
}

.match-picture {
  border-radius: 5%;
}

.message-picture {
  border-radius: 50%;
}

.match-picture-name {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
  overflow: scroll;
}

.match-picture-name:hover {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
}

.all-matches {
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  margin-left: 0px;
  height: 100%;
}

.profile-picture {
  border-radius: 3%;
}

.swipe-buttons {
  display: flex;
  justify-content: space-evenly;
}

.match-picture-message {
  display: flex;
  margin-top: 20px;
  overflow-y: scroll;
}

.all-messages {
  height: 100%;
}

.match-text {
  margin-left: 10px;
}

.signup-error {
  display: flex;
  justify-content: center;
  color: red;
}

.match-name {
  position: absolute;
  color: white;
  bottom: 1px;
  right: 40px;
}

.matches-title-clicked, .messages-title-clicked {
  text-decoration: underline;
  text-decoration-color:#db1212;
}

.messages-title-clicked{
  margin-left: 10px;
}

.matches-title-clicked{
  margin-right: 10px;
}


.swipeButtons {
  display: flex;
  justify-content: space-evenly;
}


.swipeButtons .MuiIconButton-root {
  background-color: #fff;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, .3) !important;
}

.swipeButtons__repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipeButtons__left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.swipeButtons__star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.swipeButtons__right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.swipeButtons__lightning {
  padding: 3vw !important;
  color: #915dd1 !important;
}


.page-titles {
  display: flex;
  justify-content: column;
  margin-left: 10px;
}

.message-input {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.message-input-button {
  display: flex;
  flex-direction: row;
}

/*--------CHAT------------*/

.chat-main {
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}


.chat-form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 52.5%;
  background-color: rgb(24, 23, 23);
  display: flex;
  font-size: 1.5rem;
}

.chat-input {
  line-height: 1.5;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  width: 100%;
}

.chat-button {
  background-color:black;
  color: white;
  width: 100px;
}

.chat-column, .profile-column {
  border-style: solid;
  height: 100vh;
}

.chat-main::-webkit-scrollbar {
  width: 0.25rem;
}

.chat-main::-webkit-scrollbar-track {
  background: black;
}

.chat-main::-webkit-scrollbar-thumb {
  background: black;
}

.message-sent {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  color: white;
  margin-left: 65%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
  max-width: 320px;
}

@media screen and (max-width:1000px) {
  .matches, .chat-column {
    width:100%; 
  }
  .profile-column {
    display: none;
  }

  .chat-profile {
    grid-template-columns: 100%;
  }

  .main-page-chat {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
  }
}

@media screen and (max-width:650px) {
  .chat-column {
    width:100%; 
  }
  .matches, .profile-column {
    display: none;
  }
  .main-page-chat {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
  }
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


